:root {
    --clr-red: #CA0000;
    --clr-red--contrast: #e70d0d;
    --clr-white: #fff;
    --clr-grey: #ccc;
    --clr-light-grey: #e3e3e3;
    --clr-black: #000;
    --clr-green: #1fb813;

    --border-radius: 4px;

    --space-xs: 2px;
    --space-sm: 4px;
    --space-md: 6px;
    --space-lg: 8px;
    --space-xl: 10px;

    --space-a-xs: 0px 2px;
    --space-a-sm: 2px 4px;
    --space-a-md: 4px 6px;
    --space-a-lg: 6px 8px;
    --space-a-xl: 8px 10px;

    --ms--2: 8px;
    --ms--1: 12px;
    --ms-0: 16px;
    --ms-1: 20px;
    --ms-2: 30px;

    --z-overlay: 10;
    --z-click: 11;
}

body {
    background: var(--clr-red);
    color: var(--clr-white);
    font-family: Verdana;
    font-size: var(--ms-0);
    padding: 0;
    margin: 0;
}

[empty] {
    font-size: var(--ms--1);
}
[center] {
    text-align: center;
}

h1 {
    font-size: var(--ms-2);
    margin: 0;
}

h2 {
    font-size: var(--ms-1);
    margin: 0;
}

.mb-xs {
    margin-bottom: var(--space-xs);
}

.mb-sm {
    margin-bottom: var(--space-sm);
}
.ms-0 {
    font-size: var(--ms-0);
}
.ms--1 {
    font-size: var(--ms--1);
}

.container {
    text-align: left;
    padding: var(--space-a-lg);
    width: 500px;
}

.game {
    position: relative;
    margin-bottom: var(--space-lg);
}

.game .done-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: var(--z-overlay);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    text-shadow: 2px 2px #ff0000;
    font-weight: bold;
}
.game .done-layer:before {
    content: attr(label);
    transform: rotate(-33deg) translate(0, -5px);
    font-size: var(--ms-2);
}
.game .done-layer:after {
    content: attr(date);
    transform: rotate(-33deg) translate(15px, -10px);
    font-size: var(--ms-0);
}
.game.is-done .game-delete {
    z-index: var(--z-click);
    position: relative;
    color: var(--clr-white);
    text-shadow: 2px 2px #ff0000;
}
.game.is-done .game-delete:hover {
    color: inherit;
    text-shadow: none;
}

table {
    width: 100%;
    background: var(--clr-white);
    color: var(--clr-black);
    border-radius: var(--border-radius);
    border-spacing: 0;
    overflow: hidden;
}

table thead td {
    background: var(--clr-grey);
    font-weight: bold;
}

table thead th {
    text-align: left;
    background: var(--clr-light-grey);
    font-size: var(--ms--1);
}

table td,
table th {
    padding: var(--space-a-md);
}

table tbody tr:hover td {
    background: var(--clr-light-grey);
}

table i {
    cursor: pointer;
}

table i:hover {
    color: var(--clr-red--contrast);
}

table button {
    cursor: pointer;
    background: var(--clr-red);
    border: 0;
    color: var(--clr-white);
    padding: var(--space-a-md);
    border-radius: var(--border-radius);
    font-size: var(--ms-0);
}

table button:hover {
    background: var(--clr-red--contrast);
}

table .gogogo {
    color: var(--clr-green);
    padding: var(--space-a-md);
    display: inline-block;
}

.clients .online,
.clients .offline {
    display: inline-block;
    border-radius: var(--border-radius);
    background: green;
    width: 8px;
    height: 8px;
    position: relative;
    top: -1px;
}

.clients .offline {
    background: red;
}